.experiences {
    padding-top: 7rem;
  }
  .experiences > .col-lg-4 {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .experience {
    text-align: center;
  }
  .experience {
    border: 1px solid #201f1f17;
    padding: 1.8rem 0rem;
    margin: 0.9rem 0rem;
    /* width: 180px;
    height: 180px; */
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.4s ease;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .experience > img {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40%;
  }
  .experience:hover {
    box-shadow: 0px 10px 30px rgba(71, 71, 75, 0.205);
    transform: scale(1.10);
  }